.list{
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 97%;
    height: 440px;
    margin: 30px 15px 0px 15px;
    background-color: var(--color-grey-1);

}

.summary{
    color: var(--color-grey-4);
    font-size: var(--font-size-3);

}

.none{
    width: 99%;
    color: var(--color-grey-3);
    font-size: var(--font-size-2);
}

.signal__green{
    /* height: 100%; */
    grid-area: 'sin';
    width: 4px;
    background-color: var(--color-secundary);
    border-radius: 4px 0px 0px 4px;
}

.signal__grey{
    width: 4px;
    background-color: var(--color-grey-2);
    border-radius: 4px 0px 0px 4px;
}

.card{
    display: flex;
    height: 156px;
    width: 100%;
}

.data__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.rigth{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px; 
}

.rigth > p{
   
    height: 22px;
    margin-bottom: 6px;
}

.left{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.left > h2{
    height: 39px;
    margin-bottom: 2px;
    
}

@media (min-width: 900px){

    .card{
        height: 90px;
        
    }
    .data__container{
        flex-direction: row;
        align-items: center;
    }

    .rigth{
        height: 100%;
        align-items: flex-end;
        padding-right: 15px;
    }

    .left{
        height: 100%;
        
    }
}