.list{
    /* border: 1px solid gold; */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 560px;
    height: 440px;
    margin-top: 30px;
    background-color: var(--color-grey-1);

}
.signal__green{
    width: 4px;
    background-color: var(--color-secundary);
    border-radius: 4px 0px 0px 4px;
}

.signal__grey{
    width: 4px;
    background-color: var(--color-grey-2);
    border-radius: 4px 0px 0px 4px;
}

.card{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    height: 87px;
    width: 100%;

}

.rigth{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 15px;
}

.rigth > p{
    height: 22px;
    margin-bottom: 6px;
}

.left{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.left > h2{
    height: 39px;
    margin-bottom: 2px;
}