
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    transition: .4s;
}

.button__insert{
    height: 3rem;
    width: 100%;
    padding: 0 6.875rem;
    background-color: var(--color-primary);
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 0.5rem;
}

.button__insert:hover{
    background-color: var(--color-primary-2);
    color: var(--color-grey-1);
}

.button__delete{
    height: 1.5625rem;
    width: 3rem;
    padding: 0 1.875rem;
    background-color: var(--color-grey-2) ;
    font-family: 'Nunito',sans-serif;
    font-weight: 500;
    color:  var(--color-grey-4);

}

.button__delete:hover{
    background-color: var(--color-grey-4);
    color: var(--color-grey-2);
}


@media (max-width: 28.75rem){
    
    .button__insert{
        padding: 0;
        
    }
}