
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.input,.select{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: var(--font-size-3);
    height: 53px;
    width: 100%;
    padding: 13px 16px;
    background-color: #F8F9FA;
    border: 2px #F8F9FA solid;
    border-radius: 8px;
}

.select{
    cursor: pointer;
    padding: 11px 16px;
    background: url(../assets/images/ANGLE-DOWN.svg) no-repeat center right #FFF;
    background-position: 250px;
    
}


